*{
	padding: 0;
	margin: 0;
}
.wrapper{
	width: 90%;
	margin: auto;
}
header{
	background: linear-gradient(rgba(0, 0, 0, 0.6 ), rgba(0, 0, 0, 0.6)), url(images/back1.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area{
	float: right;
	list-style: none;
	margin-top: -20px;
}
.nav-area li{
	display: inline-block;
}
.nav-area li a{

	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	text-transform: uppercase;
	font-family: poppins;
	font-size: 16px;
}
.nav-area li a:hover{
	background: #fff;
	color: #333;
}


.logo img{
	float: left;
	width: 36px;
	border-radius: 50px;
}
.logo label{
	color: #fff;
	font-size: 32px;
	font-weight: 500;
	margin: 5px;
}
.welcome-text{
	position: absolute;
	width: 500px;
	height: 100px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1{
	text-align: center;
	color: #fff;
	font-size: 25px;
	text-transform: capitalize;
}
.welcome-text a{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	display: inline-block;
	text-transform: uppercase;
	padding: 5px;
	border: 1px solid #fff;
}
.welcome-text a:hover{
	color: #333;
	background: #fff;
}